.App {
    text-align: center;
  }

    .Username {
      display: grid;
      grid-template-columns: repeat(2, 3fr);
    }
    .Password {
    display: grid;
    grid-template-columns: repeat(2, 3fr);

    }
    .buttons {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-column-gap: 5vh;
        }
        .login {
            grid-area: 1 / 1 ;
        }
        .signup {
            grid-area: 1 / 2 ;
        }



  .SelectionBar {
    display: grid;
    grid-template-columns: repeat(3, 30vh);
    grid-template-rows: repeat(6);
    grid-column-gap: 30vh;
    }
    
    .div1 { 
      grid-area: 1 / 1 ; 
      
    }
    .button:hovor {
      box-shadow: 2px 2px 3px ;
    }
    
    .div2 { 
      grid-area: 1 / 2 ; 

    }
    .div3 { 
      grid-area: 1 / 3 ; 

    }
    button {
      background-color: #282c34; /* Black */
      border: none;
      color: white;
      padding: 15px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border: 1px solid white;
      min-width: fit-content;
    }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-headfoot {
    background-color: #282c34;
    min-height: 10vh;
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  